<div class="image-container">
  <img src="/assets/images/2.jpg" class="img-fluid" alt="...">
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="get-in-touch">
        <h1 class="title">Get in touch</h1>
        <form class="contact-form" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
          <div class="form-field">
            <input id="name" class="input-text js-input" type="text" required
                   [(ngModel)]="name" name="name">
            <label class="label" for="name">Name</label>
          </div>

          <div class="form-field col x-50">
            <input id="email" class="input-text js-input" type="email" required
                   [(ngModel)]="email" name="email">
            <label class="label" for="email">E-mail</label>
          </div>

          <div class="form-field col x-100">
            <input id="message" class="input-text js-input" type="text" required
                   [(ngModel)]="message" name="message">
            <label class="label" for="message">Message</label>
          </div>

          <div class="form-field col x-100 align-center">
            <button class="submit-btn" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

 