<header class="u-clearfix u-header u-header" id="sec-f142">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h3> London Design Studio </h3>
      <button pButton type="button" icon="pi pi-bars" (click)="toggleMenu()" class="menu-collapse"></button>
      <div class="u-nav-container">
        <ul class="u-nav u-unstyled u-nav-1">
          <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" routerLink="/home" style="padding: 10px 20px;">Home</a></li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" routerLink="/about" style="padding: 10px 20px;">About</a></li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" routerLink="/contact" style="padding: 10px 20px;">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>
  