

  <header class="bg-gray-600">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global" style="height: 6rem;">
      <div class="flex flex-1">
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="/" class="text-lg font-semibold leading-6 text-orange-100">Home</a>
          <a href="/contact" class="text-lg font-semibold leading-6 text-orange-100">Contact us</a>
        </div>
        <div class="flex lg:hidden">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
      </div>
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <a class="h-8 w-auto font-bold text-3xl text-transparent gradient-text animate-gradient">LONDON DESIGN STUDIO</a>
      </a>
      <div class="flex flex-1 justify-end">
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900"><span aria-hidden="true"></span></a>
      </div>
    </nav>

    <!-- Mobile menu, show/hide based on menu open state. -->

    <div *ngIf="isMobileMenuOpen" class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-10" (click)="closeMobileMenu()"></div>
      <div class="fixed inset-y-0 left-0 z-10 w-10 overflow-y-auto bg-gray-600 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <div class="flex flex-1">
            <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" (click)="closeMobileMenu()">
              <span class="sr-only">Close menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <a class="h-8 w-auto font-bold text-2xl text-transparent gradient-text animate-gradient">LONDON DESIGN STUDIO</a>
          </a>
          <div class="flex flex-1 justify-end">
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900"><span aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="mt-6 space-y-2">
          <a href="/" class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-orange-100 hover:bg-gray-50 hover:text-gray-900">Home</a>
          <a href="/team" class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-orange-100 hover:bg-gray-50 hover:text-gray-900">Meet the team</a>
          <a href="/contact" class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-orange-100 hover:bg-gray-50 hover:text-gray-900">Contact Us</a>
        </div>
      </div>
    </div>
  </header>
  

  <router-outlet></router-outlet>

  