
<!--  Card menu  -->

<div class="row row-cols-1 row-cols-md-2 g-1">
  <div class="col">
    <div class="card">
      <img src="/assets/images/menu1.jpg" class="card-img-top" alt="...">
    </div>
  </div>

  <div class="col">
      <div class="card-body">
        <h2 class="card-title">Original & sustainable</h2>
        <p class="card-text">Immerse yourself in the world of original and sustainable furniture, where each piece represents a 
          harmonious fusion of artistry and eco-consciousness. Our exclusive collection showcases a symphony of creativity and sustainability, 
          with every item bearing the unique imprint of its skilled artisans. Through a meticulous process that honors the environment, 
          we handcraft each piece using locally sourced, non-toxic materials, including repurposed wood and recycled glass. By embracing sustainability 
          at the core of our creations, we not only offer exquisite furniture, but also contribute to the preservation of our planet's natural beauty. 
          With every purchase, you become a part of our mission to redefine luxury through the lens of sustainability, ensuring that your home reflects 
          not only elegance and style, but also a commitment to a greener, more beautiful world.
        </p>
      </div>
  </div>

  <div class="col">
      <div class="card-body">
        <h5 class="card-title">Gorgeous & practical</h5>
        <p class="card-text">​We design products for real people living in real homes. We believe that living spaces can be both functional and stunning. That’s why each of our products serves a practical purpose while maintaining an obvious aesthetic appeal. </p>
      </div>
  </div>
  
  <div class="col">
    <div class="card">
      <img src="/assets/images/menu2.jpg" class="card-img-top" alt="...">
    </div>
  </div>
</div>


<!--  Carousel  -->

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <h2 class="card-title">Collection</h2>
    <div class="carousel-item active">
      <img src="/assets/images/pic1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pic2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pic3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pic4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pic5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
