
 <!--  About us -->  

<div class="card" style="width: 100%;">
    <div class="about-card-body">
      <h2 class="let card-title">About Us</h2>
      <p class="let card-text text-justify text-md-left">At our London design studio, we are passionate about creating spaces that reflect your unique 
        lifestyle. With a focus on innovation and creativity, we specialize in crafting personalized design solutions that seamlessly 
        blend functionality with timeless elegance. Our mission is to transform houses into dream homes, curating environments 
        that inspire and delight. Welcome to a world where your vision meets our expertise, resulting in spaces that truly feel like home.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>



<!--  Card menu  -->

<div class="row row-cols-1 row-cols-md-2 g-1">
  <div class="col">
    <div class="card">
      <img src="/assets/images/menu1.jpg" class="card-img-top" alt="...">
    </div>
  </div>

  <div class="col">
      <div class="card-body">
        <h2 class="card-title">Original & Sustainable</h2>
        <p class="card-text">Discover our exclusive range of original and sustainable furniture pieces, each meticulously handcrafted to 
          embody the distinctive vision of the artisans behind them. Every item in our collection is a testament to our commitment to 
          environmental responsibility, as we meticulously source and utilize non-toxic, eco-friendly materials such as repurposed wood and 
          recycled glass. By prioritizing sustainability in our craftsmanship, we not only create stunning furniture, but also contribute to 
          the preservation of our planet's natural resources, ensuring that every piece tells a story of artistry, sustainability, and timeless elegance.
        </p>
      </div>
  </div>

  <div class="col">
      <div class="card-body">
        <h5 class="card-title">Gorgeous & Practical</h5>
        <p class="card-text">Discover furniture designed for real homes, where practicality meets stunning aesthetics. Our collection seamlessly combines 
          functionality with undeniable beauty, ensuring each piece serves a practical purpose while exuding timeless allure. Experience the perfect blend 
          of form and function as we redefine the essence of practical luxury, elevating your living space with enduring elegance and purpose.

        </p>
      </div>
  </div>
  
  <div class="col">
    <div class="card">
      <img src="/assets/images/menu2.jpg" class="card-img-top" alt="...">
    </div>
  </div>
</div>


<!--  Carousel  -->

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <h2 class="card-title">Projects</h2>
    <div class="carousel-item active">
      <img src="/assets/images/pic1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pic2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pic3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pic4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pic5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
