
 <!--  About us  --> 


<div class="bg-white">
  <div aria-hidden="true" class="relative">
    <img
      src="assets/images/about.jpg"
      alt=""
      class="h-800 w-full object-cover object-center"
      [lazyLoad]="'assets/images/about.jpg'"
    />
    <div class="absolute inset-6 bg-gradient-to-b from-gray-600">
      <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
        <p class="mt-20 text-xl w-90 text-white leading-relaxed">
          At our London design studio, we are passionate about creating spaces that reflect your unique lifestyle. With a
          focus on innovation and creativity, we specialize in crafting personalized design solutions that seamlessly blend
          functionality with timeless elegance. Our mission is to transform houses into dream homes, curating environments
          that inspire and delight. Welcome to a world where your vision meets our expertise, resulting in spaces that
          truly feel like home.
        </p>
      </div>
    </div>
  </div>
</div>




<!--  Card menu  -->



    <div class=" text-center space-y-16 mt-16">
      <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:items-center lg:gap-x-8">
        <div class=" lg:col-span-5 lg:col-start-1 lg:row-start-1 lg:mt-0 xl:col-span-4">
          <h3 class="text-3xl font-bold tracking-tight mb-14 text-gray-900">Original & Sustainable</h3>
          <p class="mt-2 text-xl leading-relaxed text-gray-500">Discover our exclusive range of original and sustainable furniture pieces, each meticulously handcrafted to 
            embody the distinctive vision of the artisans behind them. Every item in our collection is a testament to our commitment to 
            environmental responsibility, as we meticulously source and utilize non-toxic, eco-friendly materials such as repurposed wood and 
            recycled glass. By prioritizing sustainability in our craftsmanship, we not only create stunning furniture, but also contribute to 
            the preservation of our planet's natural resources, ensuring that every piece tells a story of artistry, sustainability, and timeless elegance.</p>
        </div>
        <div class="flex-auto lg:col-span-7 lg:col-start-6 lg:row-start-1 xl:col-span-8 xl:col-start-5">
          <div class="aspect-h-3 aspect-w-5 overflow-hidden rounded-lg bg-gray-100">
            <img src="/assets/images/menu1.jpg" alt="White canvas laptop sleeve with gray felt interior, silver zipper, and tan leather zipper pull." class="object-cover object-center">
          </div>
        </div>
      </div>
      <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:items-center lg:gap-x-8">
        <div class="mt-6 lg:col-span-5 lg:col-start-8 lg:row-start-1 lg:mt-0 xl:col-span-4 xl:col-start-9">
          <h3 class="text-3xl font-bold tracking-tight mb-14 text-gray-900">Gorgeous & Practical</h3>
          <p class="mt-2 text-xl leading-relaxed text-gray-500">Discover furniture designed for real homes, where practicality meets stunning aesthetics. Our collection seamlessly combines 
            functionality with undeniable beauty, ensuring each piece serves a practical purpose while exuding timeless allure. Experience the perfect blend 
            of form and function as we redefine the essence of practical luxury, elevating your living space with enduring elegance and purpose.</p>
        </div>
        <div class="flex-auto lg:col-span-7 lg:col-start-1 lg:row-start-1 xl:col-span-8">
          <div class="aspect-h-3 aspect-w-5 overflow-hidden rounded-lg bg-gray-100">
            <img src="/assets/images/menu2.jpg" alt="Detail of zipper pull with tan leather and silver rivet." class="object-cover object-center">
          </div>
        </div>
      </div>
    </div>
 



<!--  Carousel  -->


  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <h2 class="text-3xl font-bold text-center tracking-tight mt-10 mb-10 text-gray-900">Projects</h2>
      <div class="carousel-item active" style="height: 800px;">
        <img src="/assets/images/pic1.jpg" class="d-block w-100 h-full object-cover" alt="...">
      </div>
      <div class="carousel-item" style="height: 800px;">
        <img src="/assets/images/pic2.jpg" class="d-block w-100 h-full object-cover" alt="...">
      </div>
      <div class="carousel-item" style="height: 800px;">
        <img src="/assets/images/pic3.jpg" class="d-block w-100 h-full object-cover" alt="...">
      </div>
      <div class="carousel-item" style="height: 800px;">
        <img src="/assets/images/pic4.jpg" class="d-block w-100 h-full object-cover" alt="...">
      </div>
      <div class="carousel-item" style="height: 800px;">
        <img src="/assets/images/pic5.jpg" class="d-block w-100 h-full object-cover" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Testimonials section  -->


  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-xl text-center"><p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">We have worked with thousands of amazing people!</p>
      </div>
      <div class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none">
        <div class="-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0] lg:columns-3">
          <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
            <figure class="rounded-2xl bg-gray-100 p-8 text-sm leading-6">
              <blockquote class="text-gray-900 text-base">
                <p>"Loved my experience with this company! They exceeded all my expectations."</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-100" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                <div>
                  <div class="font-semibold text-gray-900">Leslie Alexander</div>
                </div>
              </figcaption>
            </figure>
          </div>

          <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
            <figure class="rounded-2xl bg-gray-100 p-8 text-sm leading-6">
              <blockquote class="text-gray-900 text-base">
                <p>"Loved my experience with this company! They exceeded all my expectations."</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-100" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                <div>
                  <div class="font-semibold text-gray-900">Leslie Alexander</div>
                </div>
              </figcaption>
            </figure>
          </div>

          <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
            <figure class="rounded-2xl bg-gray-100 p-8 text-sm leading-6">
              <blockquote class="text-gray-900 text-base">
                <p>"Loved my experience with this company! They exceeded all my expectations."</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                <div>
                  <div class="font-semibold text-gray-900">Leslie Alexander</div>
                </div>
              </figcaption>
            </figure>
          </div>

          <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
            <figure class="rounded-2xl bg-gray-100 p-8 text-sm leading-6">
              <blockquote class="text-gray-900 text-base">
                <p>"Loved my experience with this company! They exceeded all my expectations."</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                <div>
                  <div class="font-semibold text-gray-900">Leslie Alexander</div>
                </div>
              </figcaption>
            </figure>
          </div>

          <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
            <figure class="rounded-2xl bg-gray-100 p-8 text-sm leading-6">
              <blockquote class="text-gray-900 text-base">
                <p>"Loved my experience with this company! They exceeded all my expectations."</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                <div>
                  <div class="font-semibold text-gray-900">Leslie Alexander</div>
                </div>
              </figcaption>
            </figure>
          </div>

          <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
            <figure class="rounded-2xl bg-gray-100 p-8 text-sm leading-6">
              <blockquote class="text-gray-900 text-base">
                <p>"Loved my experience with this company! They exceeded all my expectations."</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                <div>
                  <div class="font-semibold text-gray-900">Leslie Alexander</div>
                </div>
              </figcaption>
            </figure>
          </div>
  
          <!-- More testimonials... -->
        </div>
      </div>
    </div>
  </div>
  

  <!-- Advice section  -->


  <div class="relative bg-gray-900 mt-40">
    <div class="relative h-80 overflow-hidden bg-indigo-600 md:absolute md:left-0 md:h-full md:w-1/3 lg:w-1/2">
      <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&h=842&q=80" alt="">
      <svg viewBox="0 0 926 676" aria-hidden="true" class="absolute -bottom-24 left-24 w-[57.875rem] transform-gpu blur-[118px]">
        <path fill="url(#60c3c621-93e0-4a09-a0e6-4c228a0116d8)" fill-opacity=".4" d="m254.325 516.708-90.89 158.331L0 436.427l254.325 80.281 163.691-285.15c1.048 131.759 36.144 345.144 168.149 144.613C751.171 125.508 707.17-93.823 826.603 41.15c95.546 107.978 104.766 294.048 97.432 373.585L685.481 297.694l16.974 360.474-448.13-141.46Z" />
        <defs>
          <linearGradient id="60c3c621-93e0-4a09-a0e6-4c228a0116d8" x1="926.392" x2="-109.635" y1=".176" y2="321.024" gradientUnits="userSpaceOnUse">
            <stop stop-color="#776FFF" />
            <stop offset="1" stop-color="#FF4694" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="relative mx-auto max-w-7xl py-24 sm:py-32 lg:px-8 lg:py-40">
      <div class="pl-6 pr-6 md:ml-auto md:w-2/3 md:pl-16 lg:w-1/2 lg:pl-24 lg:pr-0 xl:pl-32">
        <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl text-center">Looking for advice?</p>
        <p class="mt-6 text-xl leading-7 text-gray-300 text-center">As a team, we will meet to discuss our approach to designing and decorating the interior of your residential home. We'll cover topics such as understanding your vision and preferences, developing a cohesive design concept, selecting appropriate furniture, fixtures, and decor items, and creating a timeline and budget for the project. The goal is to provide the client with a beautifully designed and functional living space that reflects their personal style. Please come prepared to share your ideas and expertise, and be ready to ask any questions or seek advice from the group.</p>
        <div class="mt-8">
          <div class="mt-8">
              <a href="/team" class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-indigo-600 transition duration-300 ease-out border-2 border-white rounded-full shadow-md group">
                <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-gray-900 group-hover:translate-x-0 ease">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
                </span>
                <span class="absolute font-bold text-lg flex items-center justify-center w-full h-full text-white transition-all duration-300 transform group-hover:translate-x-full ease">Meet the team!</span>
                <span class="relative invisible">Meet the team!</span>
                </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  
  
  